<html>
    <header>
        <meta charset="UTF-8">
        <title>Informations</title>
        <!-- Inclusion de Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </header>
    <body>
        {% include "montapp/header.html" %}
        <div class="container mt-4">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td>Adresse</td>
                        <td>
                            <a href="https://www.google.fr/maps/place/Apartment+Le+Jandri+4/@45.0141258,6.1230166,17z/data=!3m1!4b1!4m6!3m5!1s0x478a12dd47c723c3:0xfabfede1b8caedb3!8m2!3d45.014122!4d6.1255969!16s%2Fg%2F11b73nqy5l?entry=ttu" target="_blank">Appartement Le Jandry 4 <br>Rue du Grand Plan <br>38860, Les Deux Alpesn</a>
                        </td>
                    </tr>
                    <tr>
                        <td>Code barrière</td>
                        <td>1234</td>
                    </tr>
                    <!-- Ajoutez plus de lignes ici selon vos besoins -->
                    <tr>
                        <td>Code immeuble</td>
                        <td>3213198</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </body>
    <footer>

    </footer>
</html>